# Configuración de Base de Datos PostgreSQL
PG_URL=postgres://hoonigans:666@localhost:5432/General%20information%20users

# Configuración de InfluxDB
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=admin:Trodat74
INFLUX_ORG=my-org

# Configuración del Servidor
PORT=5004
